h5{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}
.img-con img{
    height: 80px;
    width: 60px;
    margin: 30px 20px;
    
 }
 .img-con{
     text-align: center;
 }
 .n-ser{
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.img-ser img{
    height: 200px;
    width: 400px;
    margin: 30px 20px;
    
}

.img-ser{
   display: flex;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
}
