#imgpr{
    width: 70px;
    height: 70px;
    clip-path:ellipse(50% 50%);
    margin-left: 30px;
}

.navbar{
    background-image: url('./back.JPG');
    
}

#imgnav{
    width: 200px;
    height: 90px;
    margin-bottom: 200px;
}

